.
<div *ngIf="isDataAvailable">
  <div class="page-header">
    <h3 class="page-title">
       Timetable View
    </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:;">TimeTable</a></li>
        <li class="breadcrumb-item active" aria-current="page">View</li>
      </ol>
    </nav>
  </div>

    <div class="container" *ngIf="isDataAvailable ">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="row stutbl">
            <div class="col-md-3 card-title"></div>
            <div class="col-md-6"></div>
            <div   class="col-md-3" style="margin-top: 10px"> <button type="button" (click)='classroom()'  class="btn btn-gradient-primary btn-rounded btn-fw">Classroom </button></div>
          </div>
          <div class="card-body">
            <ngb-accordion [closeOthers]="true" activeIds="collapse-1" class="accordion-bordered">
              <ngb-panel id="collapse-1" title="Time table View">
                <ng-template ngbPanelContent>
                  <div *ngFor="let class of classrooms; index as counter"  class="table-responsive pt-3">
                    <h3><b>{{counter + 1}}.</b> Class room {{class.year}} / {{ class.letter}}</h3>
                    <table class="table" border="1px" class="table table-bordered">
                      <tr class="table-warning" style="background-color: #8a53c2">
                        <th></th>
                        <!--      <td *ngFor="let time of timetableHours">-->
                        <th *ngFor="let day of days">
                          <!--        {{time.value}}-->
                          {{day}}
                        </th>
                      </tr>
                      <tr *ngFor="let time of timetableHours" class="table-success">
                        <td>{{time.value}}</td>
                        <td  *ngFor="let day of days">
                           <span *ngIf="getSubjectByClassAndDayAndTime(class.id,day,time)">{{getSubjectByClassAndDayAndTime(class.id,day,time).subjectDetails.fkSubject.title}}
                             / {{getSubjectByClassAndDayAndTime(class.id,day,time).subjectDetails.fkTeacher.fkUser.fullname}}</span>
                          <span *ngIf="!getSubjectByClassAndDayAndTime(class.id,day,time)">N/A</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>

          </div>
        </div>
      </div>

    </div>
</div>
