<div class="page-header" *ngIf="isDataAvailable">
  <h3 class="page-title">
   Student Form
  </h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:;">Student</a></li>
      <li class="breadcrumb-item active" aria-current="page">Create Student</li>
    </ol>
  </nav>
</div>

<div class="row" *ngIf="userSubmitted">
<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Student Full Details</h4>
      <form  (ngSubmit)="onUserSubmit()" #form="ngForm" class="form">
         <p class="card-description">
        <button type="button" (click)="createParent()"   class="btn btn-gradient-primary btn-rounded btn-fw">Create Parent</button>
        </p>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Select Parent</label>
              <div class="col-sm-9">
                <select name="parent" class="form-control" [(ngModel)]="selectedparent" >
                  <option *ngFor="let c of parents" [ngValue]="c">{{c.firstName}} {{c.lastName}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">First Name</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="fname" required [(ngModel)]="student.firstName" name="fname" placeholder="">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Last Name</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="lname" required [(ngModel)]="student.lastName" name="fname" placeholder="">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Guardian Relation</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="grelation" required [(ngModel)]="student.guardianRelation" name="grelation" placeholder="">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Gender</label>
              <div class="col-sm-9">
                <select class="form-control" name="gender" [(ngModel)]="selectedOptionGender">
                  <option *ngFor="let gender of genders" [ngValue]="gender">{{gender}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Date of Birth</label>
              <div class="col-sm-9">
                <input type="date" class="form-control" id="dateOfBirth" required [(ngModel)]="student.dateOfBirth" name="dateOfBirth">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Parent Type</label>
              <div class="col-sm-9">
                <select class="form-control" name="gender" [(ngModel)]="selectedParentType">
                  <option *ngFor="let parentpe of parenttypes" [ngValue]="parentpe">{{parentpe.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Membership</label>
              <div class="col-sm-4">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="" checked >
                    Free
                    <i class="input-helper"></i>
                  </label>
                </div>
              </div>
              <div class="col-sm-5">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios2" value="option2"  >
                    Professional
                    <i class="input-helper"></i>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="card-description">
          Address
        </p>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Join Year</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" id="start_year" required [(ngModel)]="student.start_year" name="start_year" placeholder="2017">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Address</label>
              <div class="col-sm-9">
<!--                <input type="text" class="form-control" id="address" required [(ngModel)]="student.address" name="address" placeholder="4444, Kecskecen Vetheln utca 13.">-->
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Education ID</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="educationId" required [(ngModel)]="student.educationId" name="educationId" placeholder="1234567">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Health care ID</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="healthCareId" required [(ngModel)]="student.healthCareId" name="healthCareId" placeholder="333/222/111">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Parent 1</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="parent1Name" [(ngModel)]="student.parent1Name" name="parent1Name" placeholder="Firstname Middlename Lastname">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Parent 2</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="parent2Name" [(ngModel)]="student.parent2Name" name="parent2Name" placeholder="Firstname Middlename Lastname">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Parent 1 Phone</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="parent1Phone" [(ngModel)]="student.parent1Phone" name="parent1Phone" placeholder="parent 1 Phone">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Parent 2 Phone</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="parent2Phone" [(ngModel)]="student.parent2Phone" name="parent2Phone" placeholder="parent 2 Phone">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Class Room</label>
              <div class="col-sm-9">
                <select name="classroom" class="form-control form-control-sm" [(ngModel)]="selectedclassroom">
                  <option *ngFor="let classroom of classrooms" [ngValue]="classroom">{{classroom.year}}/{{classroom.letter}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <button type="submit" (click)="goBack()" class="btn btn-dark">Back</button>
        <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
      </form>
    </div>
  </div>
</div>
</div>
