<div *ngIf="isDataAvailable">

<!--    <div class="container" *ngIf="userRole()">-->
    <div class="container" >
        <div class="container">
            <h2>Student</h2>
        </div>
        <div class="container">
            <table class="table table-bordered" *ngIf="student">
                <tbody>
                    <tr>
                        <td>First Name</td>
                        <td>{{student.firstNamee}}</td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td>{{student.lastName}}</td>
                    </tr>
                    <tr>
                        <td>Date of birth</td>
                        <td>{{student.dateOfBirth}}</td>
                    </tr>
                    <tr>
                        <td>Start year</td>
                        <td>{{student.start_year}}</td>
                    </tr>
                    <tr>
                        <td>Parent Name</td>
                        <td>{{student.parent.firstName}} {{student.parent.lastName}}</td>
                    </tr>
                    <tr>
                        <td>Gender</td>
                        <td>{{student.gender}}</td>
                    </tr>
                    <tr>
                        <td>Index No</td>
                        <td>{{student.indexNo}}</td>
                    </tr>
                    <tr>
                        <td>Join Date</td>
                        <td>{{student.dateofJoin}}</td>
                    </tr>
                    <tr>
                        <td>Mobile No</td>
                        <td>{{student.mobileNo}}</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>{{student.status}}</td>
                    </tr>
                    <tr>
                        <td>Classroom</td>
                        <td>{{student.classroom.start_year}}/{{student.classroom.letter}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


