<div *ngIf="isDataAvailable">
  <div class="page-header">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:;">User</a></li>
        <li class="breadcrumb-item active" aria-current="page">Change Password</li>
      </ol>
    </nav>
  </div>
</div>
<div class="container" >
  <div class="col-md-10 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" #form="ngForm" class="form-user">
          <div class="form-group">
            <label for="username">Username</label>
            <input [disabled]="true" type="text" class="form-control" id="username" required [(ngModel)]="response.username" name="username" placeholder="{{user.username}}" value="{{user.username}}">
          </div>
          <div class="form-group">
            <label for="new-password">New Password</label>
            <input type="password" class="form-control" id="new-password" required [(ngModel)]="newPassword" name="password" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="re-password">Re-Enter Password</label>
            <input type="password" class="form-control" id="re-password" required [(ngModel)]="reEnterPassword" name="password" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="fullName">Fullname</label>
            <input disabled="true" type="text" class="form-control" id="fullName" required [(ngModel)]="response.fullName" name="fullName" placeholder="{{user.fullname}}" value="{{user.fullname}}">
          </div>
<!--          <button type="button" (click)="goBack()" class="btn btn-gradient-primary btn-rounded btn-fw">Back</button>-->
          <button type="submit" class="btn btn-gradient-success btn-rounded btn-fw">Submit</button>
        </form>
       </div>
    </div>
  </div>
</div>

