<div class="page-header" *ngIf="isDataAvailable">
  <div style="margin-left: 20px">
    <h3 class="page-title">
      Parent List
    </h3>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:;">Parent</a></li>
      <li class="breadcrumb-item active" aria-current="page">All</li>
    </ol>
  </nav>
</div>


<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <div class="row stutbl">
        <div class="col-md-3 card-title"></div>
        <div class="col-md-6"></div>
        <div  class="col-md-3"> <button type="button" (click)='create()'  class="btn btn-gradient-primary btn-rounded btn-fw">Create Parent</button></div>
      </div>
      <div class="input-group">
        <div class="input-group-prepend bg-transparent">
          <i class="input-group-text border-0 mdi mdi-magnify"></i>
        </div>
        <input  type="text" class="form-control bg-transparent border-0" placeholder="Search"  name="search" [(ngModel)]="searchText">
      </div>

      <div class="table-responsive pt-3">
        <!--        <h4 class="card-title">Employee table</h4>-->
        <table class="table table-bordered">
          <thead style="background-color: #8a53c2">
          <tr>
            <th>#</th>
            <th>Username</th>
            <th>Fullname</th>
            <th>Function</th>

          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let parent of collection.data | filter:searchText | paginate: config ;index  as i">
            <!--                  <tr *ngFor="let user of users | filter:searchText">-->
            <td>{{i+1}}</td>
            <td>{{parent.fkUser.username}}</td>
            <td>{{parent.fkUser.fullname}} </td>
            <td>
              <button (click)="details(parent.fkUser.id)" class="badge badge-warning">Detail</button>
              <button (click)="update(parent.fkUser.id)" class="badge badge-info">Update</button>
              <button *ngIf="parent.fkUser.id != currentUser.id" (click)="delete(parent.fkUser.id)" class="badge badge-success">Delete</button>
            </td>
          </tr>
          </tbody>
        </table>
        <!--                <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>-->
        <pagination-controls
          [maxSize]="maxSize"
          [directionLinks]="directionLinks"
          [autoHide]="autoHide"
          [responsive]="responsive"
          [previousLabel]="labels.previousLabel"
          [nextLabel]="labels.nextLabel"
          [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
          [screenReaderPageLabel]="labels.screenReaderPageLabel"
          [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
          (pageChange)="onPageChange($event)"></pagination-controls>

      </div>
    </div>
  </div>
</div>


<div class="container">
  <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Website</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let group of dataa">
      <td>{{group.name}}</td>
      <td>{{group.email}}</td>
      <td>{{group.website}}</td>
    </tr>
    </tbody>
  </table>
</div>
