<div *ngIf="isDataAvailable">

    <div class="container" *ngIf="userRole()">
        <div class="container">
            <div class="container">
                <h3>Attendances</h3>
                <button  class="btn btn-dark">Back</button>
            </div>
            <div class="container">
                <form (ngSubmit)="onSubmit()" #form="ngForm" class="form-students">
                    <table  class="table table-bordered table-sm">
                        <thead class="thead-dark">
                            <tr>
                                <th>Date of miss</th>
                                <th>Lecture</th>
                                <th>Student name</th>
                                <th>Verified</th>
                                <th>Check</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let attendance of attendances; index as i">
                                <td *ngIf="attendance.isVerified" class="green"><b>{{attendance.dateOfMiss}}</b></td>
                                <td *ngIf="attendance.isVerified" class="green"><b>{{attendance.lecture}}</b></td>
                                <td *ngIf="attendance.isVerified" class="green"><b>{{attendance.student.firstName}}</b></td>
                                <td *ngIf="attendance.isVerified" class="green"><b>{{attendance.isVerified}}</b></td>

                                <td *ngIf="!attendance.isVerified" class="red"><b>{{attendance.dateOfMiss}}</b></td>
                                <td *ngIf="!attendance.isVerified" class="red"><b>{{attendance.lecture}}</b></td>
                                <td *ngIf="!attendance.isVerified" class="red"><b>{{attendance.student.firstName}}</b></td>
                                <td *ngIf="!attendance.isVerified" class="red"><b>{{attendance.isVerified}}</b></td>
                                <td>
                                    <input [attr.disabled]="attendance.isVerified ? true : null" type="checkbox" class="miss-input" [(ngModel)]="miss[i]" name="miss">
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

