<nav class="sidebar sidebar-offcanvas" id="sidebar" ngbDropdown  *ngIf="hasSignedIn()">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="javascript:;" class="nav-link">
        <div class="nav-profile-image">
          <img src="assets/images/faces/face1.jpg" alt="profile">
          <span class="login-status online"></span> <!--change to offline or busy as needed-->
        </div>
        <div class="nav-profile-text">
          <span class="font-weight-bold mb-2">David Grey. H</span>
          <span class="text-secondary text-small">Admin</span>
        </div>
        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
<!--    <li class="nav-item" [ngClass]="{'active' : accordions.isActive || buttons.isActive || badges.isActive || breadcrumbs.isActive || dropdowns.isActive || modals.isActive || notifications.isActive || progressbar.isActive || pagination.isActive || tabs.isActive || typography.isActive || tooltips.isActive }">-->
<!--      <a class="nav-link" (click)="uiBasicCollapsed = !uiBasicCollapsed" [attr.aria-expanded]="uiBasicCollapsed" aria-controls="ui-basic">-->
<!--        <span class="menu-title">Basic UI Elements</span>-->
<!--        <i class="menu-arrow"></i>-->
<!--        <i class="mdi mdi-crosshairs-gps menu-icon"></i>-->
<!--      </a>-->
<!--      <div class="collapse" id="ui-basic" [ngbCollapse]="!uiBasicCollapsed">-->
<!--        <ul class="nav flex-column sub-menu">-->
<!--          <li class="nav-item"> <a class="nav-link" routerLink="basic-ui/accordions" routerLinkActive="active" #accordions="routerLinkActive">Accordions</a></li>-->
<!--          <li class="nav-item"> <a class="nav-link" routerLink="basic-ui/buttons" routerLinkActive="active" #buttons="routerLinkActive">Buttons</a></li>-->
<!--          <li class="nav-item"> <a class="nav-link" routerLink="basic-ui/badges" routerLinkActive="active" #badges="routerLinkActive">Badges</a></li>-->
<!--          <li class="nav-item"> <a class="nav-link" routerLink="basic-ui/breadcrumbs" routerLinkActive="active" #breadcrumbs="routerLinkActive">Breadcrumbs</a></li>-->
<!--          <li class="nav-item"> <a class="nav-link" routerLink="basic-ui/dropdowns" routerLinkActive="active" #dropdowns="routerLinkActive">Dropdowns</a></li>-->
<!--          <li class="nav-item"> <a class="nav-link" routerLink="basic-ui/modals" routerLinkActive="active" #modals="routerLinkActive">Modals</a></li>-->
<!--          <li class="nav-item"> <a class="nav-link" routerLink="basic-ui/notifications" routerLinkActive="active" #notifications="routerLinkActive">Notifications</a></li>-->
<!--          <li class="nav-item"> <a class="nav-link" routerLink="basic-ui/progressbar" routerLinkActive="active" #progressbar="routerLinkActive">Progress bar</a></li>-->
<!--          <li class="nav-item"> <a class="nav-link" routerLink="basic-ui/pagination" routerLinkActive="active" #pagination="routerLinkActive">Pagination</a></li>-->
<!--          <li class="nav-item"> <a class="nav-link" routerLink="basic-ui/tabs" routerLinkActive="active" #tabs="routerLinkActive">Tabs</a></li>-->
<!--          <li class="nav-item"> <a class="nav-link" routerLink="basic-ui/typography" routerLinkActive="active" #typography="routerLinkActive">Typography</a></li>-->
<!--          <li class="nav-item"> <a class="nav-link" routerLink="basic-ui/tooltips" routerLinkActive="active" #tooltips="routerLinkActive">Tooltips</a></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </li>-->
<!--    <li class="nav-item" [ngClass]="{ 'active': forms.isActive }">-->
<!--      <a class="nav-link" routerLink="forms/basic-elements" routerLinkActive #forms="routerLinkActive">-->
<!--        <span class="menu-title">Form elements</span>-->
<!--        <i class="mdi mdi-format-list-bulleted menu-icon"></i>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="nav-item" [ngClass]="{ 'active': charts.isActive }">-->
<!--      <a class="nav-link" routerLink="charts/chartjs" routerLinkActive #charts="routerLinkActive">-->
<!--        <span class="menu-title">Charts</span>-->
<!--        <i class="mdi mdi-chart-bar menu-icon"></i>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="nav-item" [ngClass]="{ 'active': tables.isActive }">-->
<!--      <a class="nav-link" routerLink="tables/basic-table" routerLinkActive #tables="routerLinkActive">-->
<!--        <span class="menu-title">Tables</span>-->
<!--        <i class="mdi mdi-table-large menu-icon"></i>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="nav-item" [ngClass]="{ 'active': icons.isActive }">-->
<!--      <a class="nav-link" routerLink="icons/mdi" routerLinkActive #icons="routerLinkActive">-->
<!--        <span class="menu-title">Icons</span>-->
<!--        <i class="mdi mdi-contacts menu-icon"></i>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="nav-item" [ngClass]="{ 'active' : create.isActive || all.isActive  }">-->
<!--      <a class="nav-link" (click)="todoCollapsed = !todoCollapsed"  [attr.aria-expanded]="todoCollapsed" aria-controls="todo">-->
<!--        <span class="menu-title">ToDo</span>-->
<!--        <i class="menu-arrow"></i>-->
<!--        <i class="mdi mdi-medical-bag menu-icon"></i>-->
<!--      </a>-->
<!--      <div class="collapse" id="todo" [ngbCollapse]="!todoCollapsed">-->
<!--        <ul class="nav flex-column sub-menu">-->
<!--          <li class="nav-item"> <a class="nav-link" routerLink="general-pages/blank-page" routerLinkActive="active" #create="routerLinkActive">Create </a></li>-->
<!--          <li class="nav-item"> <a class="nav-link" routerLink="user-pages/login" routerLinkActive="active" #all="routerLinkActive"> ALL Todo </a></li>-->

<!--        </ul>-->
<!--      </div>-->
<!--    </li>-->
<!--    <li class="nav-item" [ngClass]="{ 'active' : blankPage.isActive || login.isActive || register.isActive || error404.isActive || error500.isActive }">-->
<!--      <a class="nav-link" (click)="samplePagesCollapsed = !samplePagesCollapsed"  [attr.aria-expanded]="samplePagesCollapsed" aria-controls="auth">-->
<!--        <span class="menu-title">Sample Pages</span>-->
<!--        <i class="menu-arrow"></i>-->
<!--        <i class="mdi mdi-medical-bag menu-icon"></i>-->
<!--      </a>-->
<!--      <div class="collapse" id="auth" [ngbCollapse]="!samplePagesCollapsed">-->
<!--        <ul class="nav flex-column sub-menu">-->
<!--          <li class="nav-item"> <a class="nav-link" routerLink="general-pages/blank-page" routerLinkActive="active" #blankPage="routerLinkActive"> Blank Page </a></li>-->
<!--          <li class="nav-item"> <a class="nav-link" routerLink="user-pages/login" routerLinkActive="active" #login="routerLinkActive"> Login </a></li>-->
<!--          <li class="nav-item"> <a class="nav-link" routerLink="user-pages/register" routerLinkActive="active" #register="routerLinkActive"> Register </a></li>-->
<!--          <li class="nav-item"> <a class="nav-link" routerLink="error-pages/404" routerLinkActive="active" #error404="routerLinkActive"> 404 </a></li>-->
<!--          <li class="nav-item"> <a class="nav-link" routerLink="error-pages/500" routerLinkActive="active" #error500="routerLinkActive"> 500 </a></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </li>-->
<!--          ADMIN-->
<!--    <li class="nav-item" *ngIf="userRole() === 'ROLE_ADMIN' && isDataAvailable" [ngClass]="{ 'active' : createadm.isActive || admroom.isActive || admadm.isActive || admarc.isActive || admclass.isActive || admcouse.isActive || admupdate.isActive }">-->
<!--      <a class="nav-link" (click)="adminCollapse = !adminCollapse"  [attr.aria-expanded]="adminCollapse" aria-controls="admin">-->
<!--        <span class="menu-title">Admin</span>-->
<!--        <i class="menu-arrow"></i>-->
<!--        <i class="mdi mdi-medical-bag menu-icon"></i>-->
<!--      </a>-->
<!--      <div class="collapse" id="admin" [ngbCollapse]="!adminCollapse">-->
<!--        <ul class="nav flex-column sub-menu">-->
<!--          <li class="nav-item"> <a class="nav-link" (click)='getAllUser()' routerLinkActive="active" #createadm="routerLinkActive">User</a></li>-->
<!--          <li class="nav-item"> <a class="nav-link" (click)='getAllRooms()' routerLinkActive="active" #admroom="routerLinkActive"> Rooms</a></li>-->
<!--          <li class="nav-item"> <a class="nav-link" (click)='admin()' routerLinkActive="active" #admadm="routerLinkActive">Admin</a></li>-->
<!--          <li class="nav-item"> <a class="nav-link" (click)='archives()' routerLinkActive="active" #admarc="routerLinkActive"> Archives </a></li>-->
<!--          <li class="nav-item"> <a class="nav-link" (click)='getAllClassroom()' routerLinkActive="active" #admclass="routerLinkActive"> Classrooms </a></li>-->
<!--          <li class="nav-item"> <a class="nav-link" (click)='getAllSubject()' routerLinkActive="active" #admcouse="routerLinkActive"> Subjects</a></li>-->
<!--          <li class="nav-item"> <a class="nav-link" (click)="updateAdmin()" routerLinkActive="active" #admupdate="routerLinkActive"> Update</a></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </li>-->

    <!--  HEAD TEACHER -->
<!--    <li class="nav-item" *ngIf="userRole() === 'ROLE_HEADTEACHER' && isDataAvailable" [ngClass]="{ 'active' : htmyclass.isActive || htstat.isActive || htatt.isActive  }">-->
<!--      <a class="nav-link" (click)="headTeacherCollapse = !headTeacherCollapse"  [attr.aria-expanded]="headTeacherCollapse" aria-controls="headteacher">-->
<!--        <span class="menu-title">Head Teacher</span>-->
<!--        <i class="menu-arrow"></i>-->
<!--        <i class="mdi mdi-medical-bag menu-icon"></i>-->
<!--      </a>-->
<!--      <div class="collapse" id="headteacher" [ngbCollapse]="!headTeacherCollapse">-->
<!--        <ul class="nav flex-column sub-menu">-->
<!--          <li class="nav-item"> <a class="nav-link" (click)="getMyClassroom()"  routerLinkActive="active" #htmyclass="routerLinkActive">My Class</a></li>-->
<!--          <li class="nav-item"> <a class="nav-link" (click)="getStatistics()" routerLinkActive="active" #htstat="routerLinkActive"> Statistics</a></li>-->
<!--          <li class="nav-item"> <a class="nav-link" (click)="getAttendances()" routerLinkActive="active" #htatt="routerLinkActive">Attendances</a></li>-->

<!--        </ul>-->
<!--      </div>-->
<!--    </li>-->

    <!--  TEACHER -->
<!--    <li class="nav-item" *ngIf="userRole() === 'ROLE_TEACHER' && isDataAvailable" [ngClass]="{ 'active' : timetbl.isActive || clas.isActive || subject.isActive || pref.isActive || upd.isActive  }">-->
<!--      <a class="nav-link" (click)="teacherCollapse = !teacherCollapse"  [attr.aria-expanded]="teacherCollapse" aria-controls="teacher">-->
<!--        <span class="menu-title">Teacher</span>-->
<!--        <i class="menu-arrow"></i>-->
<!--        <i class="mdi mdi-medical-bag menu-icon"></i>-->
<!--      </a>-->
<!--      <div class="collapse" id="teacher" [ngbCollapse]="!teacherCollapse">-->
<!--        <ul class="nav flex-column sub-menu">-->
<!--          <li class="nav-item"> <a class="nav-link" (click)="timetable()" routerLinkActive="active" #timetbl="routerLinkActive">Timetable</a></li>-->
<!--          <li class="nav-item"> <a class="nav-link" (click)="classrooms()" routerLinkActive="active" #clas="routerLinkActive"> Classes</a></li>-->
<!--          <li class="nav-item"> <a class="nav-link" (click)="preferences()" routerLinkActive="active" #pref="routerLinkActive">Preferences</a></li>-->
<!--          <li class="nav-item"> <a class="nav-link" (click)="subjects()" routerLinkActive="active" #subject="routerLinkActive">Subjects</a></li>-->
<!--          <li class="nav-item"> <a class="nav-link" (click)="updateTeacrPanel()" routerLinkActive="active" #upd="routerLinkActive">Update</a></li>-->

<!--        </ul>-->
<!--      </div>-->
<!--    </li>-->

    <!--  STUDENT -->
<!--    <li class="nav-item" *ngIf="userRole() === 'ROLE_STUDENT' && isDataAvailable" [ngClass]="{ 'active' : stsumm.isActive || stutimtbl.isActive || sturpt.isActive || strmk.isActive || stcour.isActive || stuupdat.isActive ||stuattnd.isActive || studetails.isActive  }">-->
<!--      <a class="nav-link" (click)="studentCollapse = !studentCollapse"  [attr.aria-expanded]="studentCollapse" aria-controls="student">-->
<!--        <span class="menu-title">Student</span>-->
<!--        <i class="menu-arrow"></i>-->
<!--        <i class="mdi mdi-medical-bag menu-icon"></i>-->
<!--      </a>-->
<!--      <div class="collapse" id="student" [ngbCollapse]="!studentCollapse">-->
<!--        <ul class="nav flex-column sub-menu">-->
<!--          <li class="nav-item"> <a class="nav-link" (click)='summary()' routerLinkActive="active" #stsumm="routerLinkActive">Summary</a></li>-->
<!--          <li class="nav-item"> <a class="nav-link"(click)='studenttimetable()' routerLinkActive="active" #stutimtbl="routerLinkActive"> Timetable</a></li>-->
<!--          <li class="nav-item"> <a class="nav-link" (click)='reports()' routerLinkActive="active" #sturpt="routerLinkActive"> Reports</a></li>-->
<!--          <li class="nav-item"> <a class="nav-link" (click)='remarks()' routerLinkActive="active" #strmk="routerLinkActive"> Remarks</a></li>-->
<!--          <li class="nav-item"> <a class="nav-link" (click)='studentsubject()' routerLinkActive="active" #stcour="routerLinkActive"> Subjects</a></li>-->
<!--          <li class="nav-item"> <a class="nav-link" (click)='updateStudent()' routerLinkActive="active" #stuupdat="routerLinkActive"> Update</a></li>-->
<!--          <li class="nav-item"> <a class="nav-link" (click)='attendances()' routerLinkActive="active" #stuattnd="routerLinkActive"> Attendances</a></li>-->
<!--          <li class="nav-item"> <a class="nav-link" (click)='details()' routerLinkActive="active" #studetails="routerLinkActive"> Details</a></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </li>-->

    <li class="nav-item" [ngClass]="{ 'active': sessn.isActive }">
      <a class="nav-link" (click)="school()" routerLinkActive #sessn="routerLinkActive">
        <span class="menu-title">School</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': usr.isActive }">
      <a class="nav-link" (click)='getAllUser()' routerLinkActive #usr="routerLinkActive">
        <span class="menu-title">User</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': employe.isActive }">
      <a class="nav-link" routerLink="employee/all" routerLinkActive #employe="routerLinkActive">
        <span class="menu-title">Employee</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': parent.isActive }">
      <a class="nav-link" routerLink="parent/all" routerLinkActive #parent="routerLinkActive">
        <span class="menu-title">Parent</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': student.isActive }">
      <a class="nav-link" routerLink="student/all" routerLinkActive #student="routerLinkActive">
        <span class="menu-title">Student</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': tcr.isActive }">
<!--      <a class="nav-link" (click)='getAllTeacher()' routerLinkActive #tcr="routerLinkActive">-->
      <a class="nav-link" routerLink="teacher/all" routerLinkActive #tcr="routerLinkActive">
        <span class="menu-title">Teacher</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': class.isActive }">
      <a class="nav-link" routerLink="classroom/all" routerLinkActive #class="routerLinkActive">
        <span class="menu-title">Classroom</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': subject.isActive }">
      <a class="nav-link" routerLink="subject/all" routerLinkActive #subject="routerLinkActive">
        <span class="menu-title">Subject</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>

    <li *ngIf="itIsAdmin()" class="nav-item" [ngClass]="{ 'active' : all.isActive || view.isActive  }">
      <a class="nav-link" (click)="timetableCollapsed = !timetableCollapsed"  [attr.aria-expanded]="timetableCollapsed" aria-controls="tmtbl">
        <span class="menu-title">TimeTable</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-medical-bag menu-icon"></i>
      </a>
      <div class="collapse" id="tmtbl" [ngbCollapse]="!timetableCollapsed">
        <ul class="nav flex-column sub-menu">
          <li  class="nav-item"> <a class="nav-link" routerLink="timetable/view/" routerLinkActive="active" #view="routerLinkActive">View </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="timetable/create" routerLinkActive="active" #all="routerLinkActive"> Create </a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item" [ngClass]="{ 'active': attendance.isActive }">
      <a class="nav-link" routerLink="attendance/all" routerLinkActive #attendance="routerLinkActive">
        <span class="menu-title">Attendance</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': email.isActive }">
      <a class="nav-link" routerLink="email/create" routerLinkActive #email="routerLinkActive">
        <span class="menu-title">Email</span>
        <i class="mdi mdi-email-box menu-icon"></i>
      </a>
    </li>
  </ul>
</nav>
