<!--<div *ngIf="isDataAvailable">-->
<div >

    <div class="container" *ngIf="userRole()">
        <div class="container">
            <h2>Create</h2>
        </div>
        <button  mat-button mat-ripple (click)='goBack()' class="btn btn-warning">Back</button>
        <div class="container">
            <form (ngSubmit)="onSubmit()" #form="ngForm" class="form-timetable">
                <div class="form-group">
                    <label for="classroom">Class</label>
                   <select (change)="loadSubdetails(selectedOptionClassroom)" name="classroom" class="form-control form-control-sm" [(ngModel)]="selectedOptionClassroom">
                        <option *ngFor="let classroom of classrooms" [ngValue]="classroom">{{classroom.year}}/{{classroom.letter}}</option>
                   </select>
                </div>
              <div class="form-group">
                <label for="sudetail">Subject Detail</label>
                <select id="sudetail" name="sudetail" class="form-control form-control-sm" [(ngModel)]="selectedsubjectDetail">
                  <option *ngFor="let subdetail of subjectsDetails" [ngValue]="subdetail">{{subdetail.fkSubject.title}}-{{subdetail.fkTeacher.firstName}} {{subdetail.fkTeacher.lastName}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="classroom">Day</label>
                <select name="classroom" class="form-control form-control-sm" [(ngModel)]="selectedOptionDay">
                  <option *ngFor="let day of days" [ngValue]="day">{{day}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="classroom">Time Slot</label>
                <select name="classroom" class="form-control form-control-sm" [(ngModel)]="selectedOptionTime">
                  <option *ngFor="let timeslot of timetableHours" [ngValue]="timeslot">{{timeslot.value}}</option>
                </select>
              </div>

                <button type="submit" (click)="goBack()" class="btn btn-dark">Back</button>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
</div>
<div class="container table-responsive pt-3">
  <div class="input-group">
    <div class="input-group-prepend bg-transparent">
      <i style="color: #6a00d3;font-size: 20px" class="input-group-text border-0 mdi mdi-magnify"></i>
    </div>
    <input  type="text" class="form-control bg-transparent border-0" placeholder="Search Users"  name="search" [(ngModel)]="searchText">
  </div>
  <table  class="table table-bordered">
    <thead >
    <tr class="table-primary">
      <th>Grade</th>
      <th>Subject</th>
      <th>Teacher</th>
      <th>Day</th>
      <th>Time Slot</th>

      <!--                            <th>Teacher</th>-->
      <!--      <th>Functions</th>-->
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let timetable of timetables | filter:searchText">
      <td>{{timetable.classroom.year}}/{{timetable.classroom.letter}}</td>
      <td>{{timetable.subjectDetails.fkSubject.title}}</td>
      <td>{{timetable.subjectDetails.fkTeacher.firstName}} {{timetable.subjectDetails.fkTeacher.lastName}}</td>
      <td>{{timetable.dayOfWeek}} </td>
      <td>{{timetable.time}} </td>
      <!--                            <td>{{subject.fkTeacher.fkUser.username}}</td>-->
      <!--      <td>-->
      <!--        <button (click)="details(subject.id)" class="badge badge-success">Details</button>-->
      <!--        <button *ngIf="currentUser.authorities[0].authority + '' === 'ROLE_ADMIN'" (click)="update(subject.id)" class="badge badge-warning">Update</button>-->
      <!--        <button *ngIf="currentUser.authorities[0].authority + '' === 'ROLE_ADMIN'" (click)="delete(subject.id)" class="badge badge-danger">Delete</button>-->
      <!--        <button *ngIf="currentUser.authorities[0].authority + '' === 'ROLE_ADMIN'" (click)="timetable(subject.id)" class="badge badge-info">TimeTable</button>-->
      <!--      </td>-->
    </tr>
    </tbody>
  </table>
</div>

<div *ngFor="let class of classrooms"  class="table-responsive pt-3">
  <h3>{{class.year}} / {{ class.letter}}</h3>
  <table class="table" border="1px" class="table table-bordered">
    <tr class="table-warning">
      <td></td>
      <td *ngFor="let time of timetableHours">
        {{time.value}}
      </td>
    </tr>
    <tr *ngFor="let day of days" class="table-success">
      <td>{{day}}</td>
      <td *ngFor="let time of timetableHours">
        <span *ngIf="getSubjectByClassAndDayAndTime(class.id,day,time)">{{getSubjectByClassAndDayAndTime(class.id,day,time).subjectDetails.fkSubject.title}}</span>
        <span *ngIf="!getSubjectByClassAndDayAndTime(class.id,day,time)">N/A</span>
      </td>
    </tr>
  </table>
</div>
