<div class="page-header" *ngIf="isDataAvailable">
  <h3 class="page-title">
    Subject Assign Form
  </h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:;">Subject</a></li>
      <li class="breadcrumb-item active" aria-current="page">Assign Form</li>
    </ol>
  </nav>
</div>

<div class="row" *ngIf="!userSubmitted">
  <div class="col-6 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"></h4>
      <form (ngSubmit)="onSubmit()" #form="ngForm" class="form-subject">
        <div class="form-group">
          <label for="subject">Subject</label>
          <select name="subject" class="form-control form-control-sm" [(ngModel)]="selectedsubject">
            <option  [ngValue]="undefined">SELECT</option>
            <option *ngFor="let subject of subjects" [ngValue]="subject">{{subject.title}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="teacher">Teacher</label>
          <select id="teacher" name="teacher" class="form-control form-control-sm" [(ngModel)]="selectedteacher">
            <option  [ngValue]="undefined">SELECT</option>
            <option *ngFor="let teacher of teachers" [ngValue]="teacher">{{teacher.firstName}} - {{teacher.lastName}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="classroom">Classroom</label>
          <select name="classroom" class="form-control form-control-sm" [(ngModel)]="selectedclassroom">
            <option  [ngValue]="undefined">SELECT</option>
            <option *ngFor="let classroom of classrooms" [ngValue]="classroom">{{classroom.year}}/{{classroom.letter}}</option>
          </select>
        </div>


        <button type="button" (click)="goBack()" class="btn btn-gradient-success">Back</button>
        <button type="submit" class="btn btn-gradient-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row stutbl">
          <div class="col-md-3 card-title"></div>
          <div class="col-md-6"></div>

        </div>
        <div class="input-group">
          <div class="input-group-prepend bg-transparent">
            <i class="input-group-text border-0 mdi mdi-magnify"></i>
          </div>
          <input  type="text" class="form-control bg-transparent border-0" placeholder="Search"  name="search" [(ngModel)]="searchText">
        </div>

        <div class="table-responsive pt-3">
          <h4 class="card-title">Subject Details</h4>
          <table class="table table-bordered">
            <thead style="background-color: #8a53c2">
            <tr>
              <th>Subject</th>
              <th>Class room</th>
              <th>Teacher</th>
              <!--                            <th>Teacher</th>-->
              <!--      <th>Functions</th>-->
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let subjectdetail of subjectsDetails | filter:searchText">
                <td>{{subjectdetail.fkSubject.title}}</td>
                <td>{{subjectdetail.fkClassroom.year}}/{{subjectdetail.fkClassroom.letter}}</td>
                <td>{{subjectdetail.fkTeacher.firstName}} {{subjectdetail.fkTeacher.lastName}}</td>
      <!--                            <td>{{subject.fkTeacher.fkUser.username}}</td>-->
      <!--      <td>-->
      <!--        <button (click)="details(subject.id)" class="badge badge-success">Details</button>-->
      <!--        <button *ngIf="currentUser.authorities[0].authority + '' === 'ROLE_ADMIN'" (click)="update(subject.id)" class="badge badge-warning">Update</button>-->
      <!--        <button *ngIf="currentUser.authorities[0].authority + '' === 'ROLE_ADMIN'" (click)="delete(subject.id)" class="badge badge-danger">Delete</button>-->
      <!--        <button *ngIf="currentUser.authorities[0].authority + '' === 'ROLE_ADMIN'" (click)="timetable(subject.id)" class="badge badge-info">TimeTable</button>-->
      <!--      </td>-->
                   </tr>
                   </tbody>
                </table>
            </div>
      </div>
    </div>
  </div>
</div>


