<div *ngIf="isDataAvailable">
  <div class="container" *ngIf="userRole()">

  </div>
</div>
<div class="container">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Update Classroom</h5>
        <form (ngSubmit)="onSubmit()" #form="ngForm" class="form-classroom">
          <div class="form-group">
            <label for="year">Grade</label>
            <input [disabled]="true" maxlength="2" [min]="1" [max]="13" type="number" class="form-control" id="year" required [(ngModel)]="classroom.year" name="year">
          </div>
          <div class="form-group">
            <label for="letter">Section</label>
            <select [disabled]="true" id="letter" name="section" class="form-control form-control-sm" [(ngModel)]="section">
              <option  [ngValue]="undefined">SELECT</option>
              <option *ngFor="let sec of sections" [ngValue]="sec">{{sec}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="tcr">Assigned Teacher</label>
            <input [disabled]="true"  type="text" class="form-control" id="tcr"  [(ngModel)]="teacherfullname" name="tcr">
          </div>
          <div class="form-group">
            <label for="teacher">Class teacher</label>
            <select id="teacher" name="teacher" class="form-control form-control-sm" [(ngModel)]="selectedteacher">
              <option  [ngValue]="undefined">SELECT</option>
              <option *ngFor="let teacher of teachers" [ngValue]="teacher">{{teacher.firstName}} - {{teacher.lastName}}</option>
            </select>
          </div>
          <button type="submit" (click)="goBack()" class="btn btn-dark">Back</button>
          <button *ngIf="!updated" type="submit" class="btn btn-success">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>


