<div *ngIf="isDataAvailable">

    <div class="container" *ngIf="userRole()">
        <div class="container">
            <h2>Update</h2>
        </div>
        <div class="container">
            <button mat-button mat-ripple (click)='userUpdate()' id="account" class="btn btn-dark">Account settings</button>
            <form (ngSubmit)="submit()" #form="ngForm" class="form">
                <div class="form-group">
                    <label for="dateOfBirth">Date of Birth</label>
                    <input type="date" class="form-control" id="dateOfBirth" required [(ngModel)]="response.dateOfBirth" name="dateOfBirth" value="{{student.dateOfBirth}}">
                </div>
                <div class="form-group" *ngIf="userRole() === 'ROLE_ADMIN'">
                    <label for="start_year">Start year</label>
                    <input type="number" class="form-control" id="start_year" required [(ngModel)]="response.start_year" name="start_year" placeholder="{{student.start_year}}" value="{{student.start_year}}">
                </div>
                <div class="form-group">
                    <label for="gender">Gender</label>
                   <select name="gender" class="form-control form-control-sm" [(ngModel)]="selectedOptionGender">
                        <option *ngFor="let gender of genders" [ngValue]="gender">{{gender}}</option>
                   </select>
                </div>

                <div class="form-group" *ngIf="userRole() === 'ROLE_ADMIN'">
                    <label for="classroom">Classroom</label>
                   <select name="classroom" class="form-control form-control-sm" [(ngModel)]="selectedOption">
                        <option *ngFor="let classroom of classrooms" [ngValue]="classroom">{{classroom.year}}/{{classroom.letter}}</option>
                   </select>
                </div>
                <button type="submit" (click)="goBack()" class="btn btn-dark">Back</button>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
</div>
