

<div class="spinner-wrapper" *ngIf="!isDataAvailable">
  <div class="donut"></div>
</div>
<div *ngIf="isDataAvailable">
  <div class="container" *ngIf="userRole()">
        <h3>Users</h3>
        <div class="card-body">
          <div class="template-demo">
            <button type="button" (click)='createStudent()'  class="btn btn-gradient-primary btn-rounded btn-fw">Create User</button>
            <button type="button" (click)='createTeacher()' class="btn btn-gradient-success btn-rounded btn-fw">Create Teacher</button>
          </div>
      </div>

      <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="input-group">
                <div class="input-group-prepend bg-transparent">
                  <i class="input-group-text border-0 mdi mdi-magnify"></i>
                </div>
                <input  type="text" class="form-control bg-transparent border-0" placeholder="Search Users"  name="search" [(ngModel)]="searchText">
              </div>

              <div class="table-responsive pt-3">
                <h4 class="card-title">User table</h4>
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th>Username</th>
                    <th>Fullname</th>
                    <th>Function</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let user of collection.data | paginate: config | filter:searchText">
<!--                  <tr *ngFor="let user of users | filter:searchText">-->
                    <td>{{user.username}}</td>
                    <td>{{user.fullName}}</td>
                    <td>
                      <button (click)="details(user.id)" class="badge badge-warning">Detail</button>
                      <button (click)="update(user.id)" class="badge badge-info">Update</button>
                      <button *ngIf="user.id != currentUser.id" (click)="delete(user.id)" class="badge badge-success">Delete</button>
                      <button *ngIf="user.authorities[0].authority + '' === 'ROLE_STUDENT'" (click)="setSubject(user.id)" class="badge badge-warning">Set Subject</button>
                    </td>
                  </tr>
                  </tbody>
                </table>
<!--                <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>-->
                <pagination-controls
                  [maxSize]="maxSize"
                  [directionLinks]="directionLinks"
                  [autoHide]="autoHide"
                  [responsive]="responsive"
                  [previousLabel]="labels.previousLabel"
                  [nextLabel]="labels.nextLabel"
                  [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                  [screenReaderPageLabel]="labels.screenReaderPageLabel"
                  [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                  (pageChange)="onPageChange($event)"></pagination-controls>
<!--        <pagination-template #p="paginationApi" [id]="config.id" (pageChange)="config.currentPage = $event">-->
<!--            <div class="custom-pagination">-->
<!--                <div class="pagination-previous" [class.disabled]="p.isFirstPage()">-->
<!--                     <span *ngIf="!p.isFirstPage()" (click)="p.previous()">-->
<!--                            </span>-->
<!--                                    </div>-->
<!--                                    <div class="page-number" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">-->
<!--                                      <span (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">{{ page.label }}</span>-->
<!--                      <div *ngIf="p.getCurrent() === page.value">-->
<!--                        <span>{{ page.label }}</span>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="pagination-next" [class.disabled]="p.isLastPage()">-->
<!--                      <span *ngIf="!p.isLastPage()" (click)="p.next()"> > </span>-->
<!--                    </div>-->
<!--                  </div>-->
<!--             </pagination-template>-->

              </div>
            </div>
          </div>
        </div>

    </div>
</div>


