$default-font-size: .875rem;
$navbar-menu-color: #9c9fa6;
$type1-light:     'ubuntu-light', sans-serif;
$navbar-font-size: .875rem;
$navbar-icon-font-size: 1.25rem;


.search-field {
  .input-group {
    input {
      font-size: $default-font-size;
      padding: .5rem;

    }
    i {
      font-size: 17px;
      margin-right: 0;
      color: $navbar-menu-color;
    }
    .input-group-text {
      background: transparent;
    }
  }

}

button{
  margin-left: 10px;
}

.table thead th{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  background-color: navajowhite;
}

//custom-pagination .page-number{
//  display: inline-block;
//  /* padding: 5px 12px; */
//  background: #afffe6;
//  margin: 0px 4px;
//  border-radius: 25px;
//}
//
//.page-number.current{
//  background: #ffffff!important;
//  border: 2px solid #458873;
//}
//
//.page-number span{
//  display: block;
//  width: 28px;
//  height: 28px;
//  font-size: 18px;
//  cursor: pointer;
//}
//
//.pagination-previous,.pagination-next{
//  display: inline-block;
//  font-weight: bold;
//}
