@import "../../../styles.scss";
.stutbl{
  margin-bottom: 10px;
}
.table-bordered thead td button{
  font-size: 8px;
}

  .loader {
    margin-left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - #{$navbar-height} - 5.5rem);
    position: fixed;
    width: calc(100% - #{$sidebar-width-lg} - 4rem);
    @media (max-width: 991px) {
      width: 100%;
    }
  }
thead{
  background-color: #8a53c2;
  color: white;
}

.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.ngx-pagination {
  padding-inline-start: 0 !important;
}
